.DS_Store
.dart_tool/

.packages
.pub/

.idea/

build/

.packages
.flutter-plugins
.flutter-plugins-dependencies

ios/Flutter/flutter_export_environment.sh
environments/
android/app/google-services.json
android/key.properties
